<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DesafioAgileFactor</display-name>
  <servlet>
    <servlet-name>Shopping</servlet-name>
    <servlet-class>shopping.desafio.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shopping</servlet-name>
    <url-pattern>/Shopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>shopping.desafio.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>Menu.jsp</welcome-file>
  </welcome-file-list>
</web-app>