body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 24px;
}
.navbar .logo a{
	 text-decoration:none;
	 color: white;
}

.navbar .cart-icon {
    cursor: pointer;
    position: relative;
}

.navbar .cart-icon img {
    width: 35px;
    height: 35px;
}

.navbar .cart-icon #cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}

.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border-radius: 5px;
    background-color: #fff;
}

.product img {
    width: auto;
    height: 110px;
    border-radius: 5px;
}

.product:hover {
    transform: scale(1.05);
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
    
}

.product p {
    font-size: 16px;
    color: #333;
    
}
.product .product-info {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 0;
    width: 100%;
    text-align: center;
}
.product .quantity {
    width: 45px;
    margin: 10px 0;
    padding-left:15px;
    text-align: center;
    
}

.product .add-to-cart {
    background-color: #383737;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.product .add-to-cart:hover {
    background-color: #141414;
}

.cart-popup {
	display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 900px;
    height: 600px;
    z-index: 1000;
    border-radius: 10px;
    justify-content: space-between;
}

.cart-popup .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.cart-popup .cart-table-container {
  
    max-height: 520px; /* Adjust the height as needed */
    overflow-y: auto;
}

.cart-popup table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cart-popup table th, .cart-popup table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.cart-popup table th {
    background-color: #F08080;
    color: white;
    font-weight: 600;
}

.cart-popup .quantity-btn {
    background-color: #F08080; 
    color: white;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 4px;
}

.cart-footer .checkout-btn {
    background-color: #FFC300; 
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    position: fixed;
    right: 3%;
    text-decoration: none;
}

.cart-popup table td img {
    width: auto;
    height: 110px;
    border-radius: 5px;
}

.cart-popup table td button:hover {
    color: blue;
}

.cart-popup table td input{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    color: black;
    float: center;
    position: relative;
    bottom: 50%;
}
#update {
	padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #F08080;
    color: white;
}

#update:hover {
	padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #eb6767; 
    color: white;
}

/* Remove button styles */
#remove {
	padding: 8px 12px;
    font-size: 14px;
    background: none;
    border: none;
    color: black;
}
#remove:hover {
    color: red;
}

.cart-popup .cart-footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
  	top: 90%;
  
}

.cart-popup .cart-total {
    font-size: 18px;
}

.cart-popup .close-cart-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease;
}

.cart-popup .close-cart-btn:hover {
    color: red;
}

.cart-popup .cart-header h2 {
    margin: 0;
    color: #F08080;
}

.quantity-modifier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-modifier button {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f8f8f8;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.quantity-modifier button:hover {
    background-color: #e0e0e0;
}

.quantity-modifier input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 3px;
}

.remove-from-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.remove-from-cart:hover {
    background-color: #c82333;
}

/* Search Bar Styles */

.search-container {
    position: relative;
    width: calc(100% - 220px); /* Adjust width */
}

#search-label {
	width:90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#search-product {
    width: 100%; /* Full width */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease;
    position: relative;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 22px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-sidebar {
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.sidebar.hidden {
    transform: translateX(-133%);
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.labels-list {
    list-style-type: none;
    padding: 0;
}

.labels-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.labels-list button:hover {
     color: red;
}
.labels-list button{
	background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
 	color: black;
 	float:right;
 	position: relative;
    bottom: 5px;
}


.show-sidebar-btn .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 11px;
    width: 8px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-sidebar-btn {
    position: fixed;
    left: 0;
    top: calc(50% - 20px); /* Adjust based on the height of the button */
    transform: translateY(-10%); /* Align the center of the button with the center of the viewport */
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
    top: calc(13% - 20px);
    
}

.ui-autocomplete { position: absolute; cursor: default; background:#CCC }   


html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    padding: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    float: left;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
}
.ui-menu.visible {
    display: block;
}

.ui-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.ui-menu li:last-child {
    border-bottom: none;
}

.ui-menu li:hover {
    background-color: #f1f1f1;
}
.ui-helper-hidden-accessible {
            display: none;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

.complete-order-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.complete-order-btn:hover {
    background-color: #218838;
}

#label-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.cart-items.quantity-container {
    display: flex;
    align-items: center;
}

.cart-items.quantity-container input{
    width: 50px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    top : 50%;
}

.checkout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 900px;
    height: 600px;
    z-index: 1000;
    border-radius: 10px;
    justify-content: space-between;
}

.checkout .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.checkout .cart-table-container {
  
    max-height: 520px; /* Adjust the height as needed */
    overflow-y: auto;
}

.checkout table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.checkout table th, .cart-popup table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.checkout table th {
    background-color: #F08080;
    color: white;
    font-weight: 600;
}

.checkout .quantity-btn {
    background-color: #F08080; 
    color: white;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 4px;
}

.checkout-footer .checkout-btn {
    background-color: #FFC300; 
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    position: fixed;
    right: 3%;
    text-decoration: none;
}
.checkout-footer .clear-btn {
    background-color: red; 
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    position: fixed;
    right: 25%;
    text-decoration: none;
}

.checkout table td img {
    width: auto;
    height: 110px;
    border-radius: 5px;
}

.checkout table td button:hover {
    color: blue;
}

.checkout table td input{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    color: black;
    float: center;
    position: relative;
    bottom: 50%;
}
